@using Steppenwolf.Auth
@inherits PostViewBase

<div class="container mb-3">
    <h1>@this.BlogPost.Title</h1>
    <div class="d-flex justify-content-between">
        <Author DateCreated="@this.BlogPost.Created" AuthorName="@this.BlogPost.Author.Name" class="flex-grow-1"/>
        @if (!this.ExcludeEdit)
        {
            <div class="d-flex align-items-center">
                <AuthorizeView Roles="@Roles.Blogger">
                    <Authorized>
                        <a class="btn btn-outline-primary btn-sm" href="/admin/post/edit/@this.BlogPost.Id" role="button">Edit</a>
                    </Authorized>
                </AuthorizeView>
            </div>
        }
    </div>
    <div class="text-justify indent">
        @((MarkupString)this.BlogPost.Body)
    </div>
</div>