@page "/admin/post/create"
@page "/admin/post/edit/{id:guid}"
@* ReSharper disable RedundantUsingDirective *@
@using Steppenwolf.Pages.Post
@* ReSharper restore RedundantUsingDirective *@
@inherits ManagePostBase

<AuthorizeView>
    <Authorized Context="auth">
        <EditForm Model="@this.BlogPostModel" OnValidSubmit="this.Submit">
            <DataAnnotationsValidator/>
            
            @if (this.Preview)
            {
                <PostView BlogPost="@this.GetBlogPostPreviewModel()" ExcludeEdit="@true" />
            }
            else
            {
                <div class="form-group">
                    <label for="title">Title: </label>
                    <InputText Id="title" Class="form-control" @bind-Value="@BlogPostModel.Title"/>
                    <ValidationMessage For="@(() => BlogPostModel.Title)"/>
                </div>

                <div class="form-group">
                    <label for="body">Text: </label>
                    <InputTextArea Id="body" Class="form-control" @bind-Value="@BlogPostModel.Body" rows="10"/>
                    <ValidationMessage For="@(() => BlogPostModel.Body)"/>
                </div>
            }
            
            <button type="submit" class="btn btn-primary">Submit</button>
            <div class="btn btn-secondary" @onclick="() => this.Preview = !this.Preview">
                @if (this.Preview)
                {
                    <span>Edit</span>
                }
                else
                {
                    <span>Preview</span>
                }
            </div>
        </EditForm>
    </Authorized>
    <NotAuthorized>
        <RedirectTo Uri="/"/>
    </NotAuthorized>
</AuthorizeView>