@page "/"
@inherits HomePageBase
@* ReSharper disable RedundantUsingDirective *@
@using Steppenwolf.Pages.Post
@* ReSharper restore RedundantUsingDirective *@

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="px-0">
        <h1 class="display-4 font-italic">@this.MainBlog.Title</h1>
        <p class="lead my-3 text-justify">@this.MainBlog.Preview</p>
        <p class="lead mb-0">
            <a href="/post/@this.MainBlog.Id" class="text-white font-weight-bold">Continue reading</a>
        </p>
    </div>
</div>
<div class="row mb-2">
    @foreach (var blog in this.SecondaryBlogs)
    {
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Featured</strong>
                    <h3 class="mb-0">@blog.Title</h3>
                    <div class="mb-1 text-muted">@blog.Created.ToString("MMM dd")</div>
                    <p class="card-text mb-auto">@blog.Preview</p>
                    <a href="/post/@blog.Id" class="stretched-link">Continue reading</a>
                </div>
            </div>
        </div>
    }
</div>

<div id="posts">
    <div class="blog-main">
        <div class="d-flex border-bottom">
            <h3 class="flex-grow-1 pb-4 d-flex align-items-end justify-content-center">
                <span class="font-italic">More articles</span>
            </h3>

            <aside class="col-md-4 blog-sidebar">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="font-italic">About</h4>
                    <p class="mb-0">Hand crafted blog by group of tech enthusiasts with interest in different fields of study.</p>
                </div>
            </aside>
        </div>

        @foreach (var blog in this.BlogPosts)
        {
            <div class="blog-post mt-2">
                <PostView BlogPost="@blog"/>
            </div>
        }

        <nav class="blog-pagination">
            <button class="btn btn-outline-primary @(this.DisablePrev() ? "disabled" : "")" @onclick="async () => await this.Prev()" disabled="@this.DisablePrev()">Older</button>
            <button class="btn btn-outline-secondary @(this.DisableNext() ? "disabled" : "")" @onclick="async () => await this.Next()" disabled="@this.DisableNext()">Newer</button>
        </nav>
    </div>
</div>